:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

section {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.32);
    z-index: 9999;
}

section bu-spinner {
    position: fixed;
    left: 50%;
    top: 50%;
}
