<div class="flex flex-col h-full bg-gray-100 w-full">
    <app-header></app-header>
    <div class="flex-grow p-6">
        <div class="max-w-7xl mx-auto grid grid-cols-12 gap-6">
            <app-patient-profile class="col-span-3"></app-patient-profile>
            <app-live-progress class="col-span-5"></app-live-progress>
            <app-vital-signs class="col-span-4"></app-vital-signs>
            <app-doctors-notes class="col-span-3"></app-doctors-notes>
            <app-anomalies class="col-span-9"></app-anomalies>
            <app-image-gallery class="col-span-8"></app-image-gallery>
            <app-doctors-notes class="col-span-4"></app-doctors-notes>
        </div>
    </div>
</div>
